{% extends 'base.html' %}
{% block content %}

<div class = 'row text-center d-none'>
    <div class = 'col'>
        <h1>Akezhan Blog</h1>
    </div>
</div>

<div class = 'row mb-4 d-none'>
    <div class = 'col-md-4 mx-auto col-10'>
        <form class = 'form' id = 'tweet-create-form' method = 'POST' action="/create-tweet/">
            {% csrf_token %}
            <div class = 'd-none alert alert-danger' id = 'tweet-create-form-error'></div>
            <input type="hidden" value = '/' name = 'next'>
            <textarea required = 'required' class = 'form-control' name = 'content' placeholder = 'Your tweets'></textarea>
            <button type = 'submit' class = 'btn btn-primary'>Tweet</button>
        </form>
    </div>
</div>

<div id = 'tweetme'></div>

<div class = 'row d-none' id = 'tweets'>
    Loading  
</div>

<script>

    function handleTweetFormError(msg, display){
        var myErrorDiv = document.getElementById("tweet-create-form-error")
        if (display === true){
            // show error
            myErrorDiv.setAttribute("class", "d-block alert alert-danger")
            myErrorDiv.innerText = msg
        }else{
            // hide error
            myErrorDiv.setAttribute("class", "d-none alert alert-danger")
        }
    }

    function handleTweetCreateFromDidSubmit(event){
        // show me that the event is working
        event.preventDefault()
        const myForm        = event.target
        const myFormData    = new FormData(myForm) 
        const url           = myForm.getAttribute('action')
        const method        = myForm.getAttribute('method')
        const xhr           = new XMLHttpRequest()
        const responseType = 'json'
        
        xhr.responseType = responseType
        xhr.open(method, url)
        xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", 'XMLHttpRequest')
        xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest')
        
        xhr.onload = function(){
            if (xhr.status === 201){
                handleTweetFormError("", false)
                const newTweetJson      = xhr.response
                const newTweetElement   = formatTweetElement(newTweetJson)
                const ogHtml            = tweetsEl.innerHTML
                tweetsEl.innerHTML      = newTweetElement + ogHtml
            } else if (xhr.status === 400){
                const errorJson = xhr.response
                const contentError = errorJson.content
                let contentErrorMessage;
                if (contentError){
                    contentErrorMessage = contentError[0]
                    if (contentErrorMessage){
                        handleTweetFormError(contentErrorMessage, true)
                    }else{
                        alert("Another error occured. Please try again")
                    }
                }else{
                    alert("Another error occured. Please try again")
                }
            } else if (xhr.status === 500){
                alert("There was a server error. Please Try again")
            }else if (xhr.status === 401){
                alert("You have to log in ")
                window.location.href = '/login'
            }else if (xhr.status === 403){
                alert("You must login !")
                window.location.href = '/login'
            }
            myForm.reset() 
        } 
        
        xhr.onerror = function(){
            alert("An error occured. Please try again")
        }
        xhr.send(myFormData)
    }

    const tweetCreateFormEl = document.getElementById("tweet-create-form")
    tweetCreateFormEl.addEventListener("submit", handleTweetCreateFromDidSubmit)

    const tweetsEl     = document.getElementById('tweets') // get an html element

    function loadTweets(tweetsEl){
        const xhr               = new XMLHttpRequest()
        const method            = "GET" // "POST"
        const url               = "/tweets"
        const responseType      = "json" 

        xhr.responseType    = responseType
        xhr.open(method, url)

        xhr.onload = function() {
            const serverResponse    = xhr.response
            const listedItems       = serverResponse
            var finalTweetStr       = ""
            var i;

            for(i = 0; i<listedItems.length; i++){
                var currentItem  = formatTweetElement(listedItems[i])
                finalTweetStr += currentItem
            }
            tweetsEl.innerHTML = finalTweetStr
        }
        xhr.send()
    }

    loadTweets(tweetsEl)

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function handleTweetActionBtn(tweet_id, currentCount, action){
        console.log(tweet_id, currentCount)
        const url       = '/api/tweets/action'
        const method    = 'POST'

        const data      = JSON.stringify({
            id:     tweet_id, 
            action: action
        })
        console.log("Below is the tweet id")
        console.log(tweet_id)
        console.log("Below the action type")
        console.log(action)
        const xhr = new XMLHttpRequest()
        var csrftoken = getCookie('csrftoken');
        xhr.open(method, url)
        xhr.setRequestHeader("Content-Type", "application/json")
        xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", 'XMLHttpRequest')
        xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest')
        xhr.setRequestHeader('X-CSRFToken', csrftoken)

        xhr.onload = function(){
            loadTweets(tweetsEl)
        }

        xhr.send(data)
        return 
    }
    
    function ReTweetBtn(tweet){
        return "<button class = 'btn btn-outline-success btn-small' onclick = handleTweetActionBtn(" + tweet.id + "," +  tweet.likes + ",'retweet')>Retweet</button>"
    }

    function UnLikeBtn(tweet){
        return "<button class = 'btn btn-outline-primary btn-small' onclick = handleTweetActionBtn(" + tweet.id + "," +  tweet.likes + ",'unlike')>Unlikes</button>"
    }

    function LikeBtn(tweet){
        return "<button class = 'btn btn-primary btn-small' onclick = handleTweetActionBtn(" + tweet.id + "," +  tweet.likes + ",'like')>" + tweet.likes + " Likes</button>"
    }

    function formatTweetElement(tweet){
        var formattedTweet = "<div class = 'col-12 col-md-10 rounded mx-auto border-top border-bottom py-3 mb-4' id ='tweet-"+ tweet.id + "'><p>" + tweet.content + 
        "</p><div class='btn-group'>" + 
        LikeBtn(tweet) + 
        UnLikeBtn(tweet) + 
        ReTweetBtn(tweet) + 
        "</div></div>"

        return formattedTweet
    } 
</script>
{% endblock content %} 

{% block head_title %}
This is amazing
{% endblock head_title %}

